/*general*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    word-wrap: break-word;
}

html {
    font-family: "Roboto Light";
    font-family: sans-serif;
    color: #d3d3d3;
    background-color: #181818;
}

a {
    color: #d3d3d3;
    text-decoration: none;
}

.centered {
    text-align: center;
}

.container {
    max-width: 100vw;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}

/*header*/

.header {
    font-size: 5rem;
    background-color: #4f4f4f;
    border-bottom: 10px solid #333333;

    text-shadow: 0.035em 0.035em 0px #333333;
}


/*body*/
.body {

}

ul {
    width: 80vw;
    min-height: 80vw;
    margin: 0;
    padding: 0;
    list-style-type: none;

    /*flex*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

li {

    margin: 20px 0;
    padding: 10px;
    font-size: 5rem;
    display: flex;
    flex-direction: row;

    /*card*/
    background-color: #4f4f4f;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
}

li a {

}

li img {
    padding: 10px;
    width: 100px;
    height: 100px;
}

i {
    font-size: 75px;

}

.checked {
    position: absolute;
    color: lightgreen;
    right: 60px
}

.unChecked {
    position: absolute;
    color: lightcoral;
    right: 75px;
}

/*keuzes page*/
.context {
    padding: 20px;
    margin: 20px 0;
    background-color: #4f4f4f;
    color: white;

    border-radius: 10px;
}

.context img {
    width: 100%;
    max-width: 300px;
}

.keuzesContainer {
    position: center;
}

.keuzes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    align-content: center;
}

.keuzesBtn {
    padding: 50px 0;
    margin: 10px;
    font-size: 100px;
    color: #333333;

    border: 5px solid #333333;
    border-radius: 20px;
}

.red {
    background-color: lightcoral;
}

.green {
    background-color: lightgreen;
}

.blue {
    background-color: lightblue;
}

.yellow {
    background-color: lightyellow;
}


/*navigation menu*/

.nav {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    bottom: 0;
    width: 100%;
    padding: 10px;
    color: white;
    background-color: #4f4f4f;
    font-size: 2vw;
    box-shadow: inset 0px -5px 10px 0px rgba(0, 0, 0, 0.5);
    overflow-wrap: break-word;
}

.navBtn {
    border-radius: 10px;
    padding: 10px;
    background-color: #333333;
    margin: 0 10px;
    box-shadow: 0 5px 0 black;
}

.navLink {
    display: block;
    width: 250px;
}

